# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT
name: Deploy Extension

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

  deploy:
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: "Prepare: Get the version"
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - run: npm install -g vsce@1.70.0

      - name: Package extension
        run: npx vsce package --out kani-vscode-extension-${VERSION}.vsix
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}

      - name: Publish extension
        env:
          MARKETPLACE_TOKEN: ${{ secrets.MARKETPLACE_TOKEN }}
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: npx vsce publish -p "${MARKETPLACE_TOKEN}" --packagePath kani-vscode-extension-${VERSION}.vsix
