# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT
name: Format Check
on: pull_request

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Execute copyright check
        run: ./scripts/run-copyright-check.sh

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16.x'

      - name: Check TS linting
        run: |
          npm install
          npm run lint

      - name: Check TS formatting
        run : |
          npm ci
          npm run prettier:check:ci


      - name: Check Compilation Compatibility
        run : |
          npm run compile
